body {
    font-family: sans-serif;
    font-size: 16px;
    padding: 0px 50px 0px 50px;
    color:#333;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header header"
        "main sidebar"
        "footer footer";
    grid-gap: 20px;
}

.header {
    grid-area: header;
    display: inline-block;
    padding: 0px;
}

.sidebar {
    grid-area: sidebar;
    background-color: #BDD4DE;
    padding: 20px;
}

.main {
    grid-area: main;
    padding:0px;
}

.footer {
    grid-area: footer;
    display: table;
    text-align: center;
    background-color: #EFEFEF;
    padding: 0px;
}

.footer p {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 0px;
}

.bg-light {
    background-color: #fff !important;
}

.header nav {
    margin-top: 20px;
    padding: 0px;
}

.nav-item {
    padding: 5px 10px;
}

.navbar-light .navbar-nav .nav-link {
    color: #333;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #333;
}

nav li:hover {
    background-color: #efefef;
}

nav li.active {
    background-color: #ff5035;
}

nav li.active nav-link {
    color: #fff;
}

nav .dropdown-menu {
    background-color: #efefef;
}

nav .dropdown-item:focus, .dropdown-item:hover {
    color: #333;
    text-decoration: none;
    background-color: #fff;
}

/*Responsive Design*/
@media screen and (max-width : 760px) {
    body {
        padding: 0px;
    }
    .header {
        height: auto;
    }

    /*changes the grid*/
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main"
            "sidebar"
            "footer";
        grid-gap: 20px;
    }
}
