body {
    font-family: Montserrat;
    font-size: 16px;
    padding: 0px 50px 0px 50px;
    color:#333;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header header"
        "main sidebar"
        "footer footer";
    grid-gap: 20px;
}

.header {
    grid-area: header;
    display: inline-block;
    padding: 0px;
}

.sidebar {
    grid-area: sidebar;
    background-color: #e2e2e2;
    padding: 20px;
}

.main {
    grid-area: main;
    padding:0px;
}

.footer {
    grid-area: footer;
    display: table;
    text-align: center;
    background-color: #fff;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

.footer p {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 0px;

}

.navbar {
    background-image: none;
    background-color: rgb(196, 233, 171);
}

h1 {
    font-size: 4em;
    color: #387C2C;
    font-weight: 800;
}

.navbar-header {
    font-size: 20px;
}


/*Responsive Design*/
@media screen and (max-width : 760px) {
    body {
        padding: 0px;
    }
    .header {
        height: auto;
    }

    /*changes the grid*/
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main"
            "sidebar"
            "footer";
        grid-gap: 20px;
    }
}
